<%= form_with(model: @category, class: "space-y-4") do |form| %>
  <% if @category.errors.any? %>
    <div class="bg-red-100 text-red-700 p-4 rounded mb-4">
      <% @category.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="flex justify-center">
    <%= form.submit t('.submit'), class: "bg-teal-500 hover:bg-teal-700 text-white font-semibold py-2 px-4 rounded-lg" %>
  </div>
<% end %>
